body {
    background: url("images/background.png");
    color: #002D40;
}

#bloc_page {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/**********/
/* HEADER */
/**********/

#title {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 540px;
}

header img {
    margin-top: 15px;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #979792;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 85px;
    display: inline;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #03638B;
    display: inline;
    font-size: 20px;
}

/*******/
/* NAV */
/*******/

nav {
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    margin-top: -7px;
}

nav ul li {
    list-style-type:none;
    display:inline;
    margin-right: 15px;
}

nav ul li img {
    margin-right: 5px;
    position: relative;
    top: 5px;
}

/***************/
/* competences */
/***************/

h3 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

h4 {
    display: inline;
    vertical-align: top;
}

.competence {
    width: 170px;
}

.competence, .competence-droite {
    display: inline-block;
    vertical-align: top;
    height: 50px;
}

.competence img {
    margin-right: 7px;
    margin-top: 5px;
}

.lvl-zone {
    position:relative;
    width:100px;
    height:21px;
    overflow:hidden;
}

.lvl1 {
    /*
    position:absolute;
    clip:rect(0px, 0px, 10px, 0px);
    */
    margin-top: 5px;
}

/*******************/
/* Experiences Pro */
/*******************/

.experience-img {
    display: inline-block;
    vertical-align: middle;
    width: 130px;
}

.experience-txt {
    display: inline-block;
    vertical-align: middle;
    width: 565px;
}

.experience-txt p {
    color: #666663;
    font-size: 13px;
}

#experiences-pro h4 {
    font-weight: normal;
}